header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #f43297;
}
.placeInputHere {
  width: 270px;
  border: 0px;
  outline: none;
}
::-webkit-input-placeholder {
  /* Edge */
  color: black;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: black;
}

::placeholder {
  color: black;
}
.headerProfile {
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.profileItem {
  height: 60px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-family: sans-serif;
  /* color: #c4c1c2; */
  color: #f43297;
}
.profileItem:hover {
  color: black !important;
  font-weight: bold;
}
.profileIcon {
  font-size: 30px;
}
.headerLoginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
}
.headerLoginBtn button {
  width: 100px;
  height: 40px;
  background-color: #f43297;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-weight: bold;
}
